@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<div class="container page-header">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Images/BannerPic/1.jpg">
            </div>
            <div class="item">
                <img src="~/Images/BannerPic/2.jpg">
            </div>
            <div class="item">
                <img src="~/Images/BannerPic/3.jpg">
            </div>
        </div>      
    </div>

<div class="aboutRightColumnWide">
    
    <div class="aboutCenterColumn">
        <section>
            <h2>Who We Are</h2>
            <p>
                Cool Books is the world’s largest site for readers and book
                recommendations. Our mission is to help people find and share books they
                love. Cool Books launched in August 2018.
            </p>
            <div class="aboutLink">
                <a href="/about/team">Our Team »</a>
            </div>
        </section>
        <section>
            <h2>A Few Things You Can Do On Cool Books</h2>
            <ul id="goodreadsFeaturesList">
                <li>
                    See what your friends are reviewing about books.
                </li>
                <li>
                    Track the books you're reading, have read, and want to read.
                </li>
                <li>
                    Check out your personalized book recommendations. Our recommendation
                    engine analyzes 20 billion data points to give suggestions tailored to
                    your literary tastes.
                </li>
                <li>
                    Find out if a book is a good fit for you from our community’s reviews.
                </li>
            </ul>
        </section>
        <section>
            <h2>
                A Message From Our CEO and Co-Founder
            </h2>
            <p>
                When I was in second grade, I discovered the Hardy Boys series.
                Ever since, I've loved to read — both for fun and to improve my mind.
                And I'm always looking for the next great book.
            </p>
            <p>
                One afternoon while I was scanning a friend's bookshelf for ideas, it
                struck me: when I want to know what books to read, I'd rather turn to a
                friend than any random person or bestseller list.
            </p>
            <p>
                So I decided to build a website – a place where I could see my
                friends' bookshelves and learn about what they thought of all their books.
                Elizabeth, my co-founder (and now my wife) wrote the site copy and I wrote
                the code. We started in my living room, motivated by the belief that there
                was a better way to discover and discuss good books, and that we could
                build it.
            </p>
            <p>
                Cool Books is that site. It is a place where you can see what your friends
                are reading and vice versa. You can create "bookshelves" to organize what
                you've read (or want to read). You can comment on each other's reviews.
                You can find your next favorite book. And on this journey with your
                friends you can explore new territory, gather information, and expand
                your mind.&nbsp;
            </p>
            <p>
                Knowledge is power, and power is best shared among readers.&nbsp;
            </p>
            <section>
                <div class="misc-otis-sig"></div>
            </section>
            <section>
                <div>
                    Otis Chandler
                </div>
                <div>
                    CEO and Co-Founder
                </div>
            </section>
            <div class="aboutFooter">
                <div class="aboutLink">
                    <a href="/about/press">See what others are saying. Visit our Press page »</a>
                </div>
            </div>
        </section>
    </div>
    <div class="aboutRightColumn">
        <section>
            <div class="aboutMetricBox">
                <ul>
                    <li>
                        <div class="aboutMetric">
                            75 Million
                        </div>
                        MEMBERS
                    </li>
                    <li>
                        <div class="aboutMetric">
                            2.2 Billion
                        </div>
                        BOOKS ADDED
                    </li>
                    <li>
                        <div class="aboutMetric">
                            77 Million
                        </div>
                        REVIEWS
                    </li>
                </ul>
            </div>
        </section>
    </div>

</div>


<p>Final project in Systemuteckling C# course at Lexicon 2018.</p>
<p>Designed and developed by :</p>
<ul>
    <li>Peter</li>
    <li>Shah</li>
    <li>Avtar</li>
    <li>Anastasios</li>
</ul>
