@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Datagatan 51<br />
    Göteborg, 53114<br />
    <abbr title="Phone">Tel:</abbr>
    0314586712
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@coolbooks.se  </a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@coolbooks.se</a>
</address>

<!-- image source https://cdn.searchenginejournal.com/wp-content/uploads/2015/04/shutterstock_132689273-760x400-1.jpg -->
<img src="~/Images/shutterstock_132689273-760x400-1.jpg" alt="Contact us" />