
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Team</h2>

<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-12">
                    <div class="row pt-md">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="~/Images/team/11.jpg" class="img-responsive">
                            </div>
                            <h3>Anastasios</h3>
                            <h5>System Developer / Designer</h5>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="~/Images/team/2.jpg" class="img-responsive">
                            </div>
                            <h3>Shah Fahad</h3>
                            <h5>System Developer</h5>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="~/Images/team/4.jpg" class="img-responsive">
                            </div>
                            <h3>Avtar Singh</h3>
                            <h5>Fullstack Developer / Designer </h5>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="~/Images/team/3.jpg" class="img-responsive">
                            </div>
                            <h3>Peter Engelbrektsson</h3>
                            <h5>Fullstack Developer</h5>
                        </div>                       
            </div>
        </div>
    </div>
</section>